doctype html
html
	head
		meta(charset="utf-8")
		title <%= siteName %>

	body
		<% 	if (includeHead) { %>
		header Your Header Here!!
		<% 	} %>


		<% 	if (includeFoot) { %>
		footer Your Footer Here!! 
		<% 	} %>


